body{
    background-color: whitesmoke;
    margin: 0px;
}
.navbar {
    
    /* border: 1px solid red; */
    background-color: white;
}

.logo{
    margin-left: 10%;
    display:flex;
    /* padding: 10px; */
    align-items: center;
   
}

.logo>h1 {
    /* margin-top: 10px; */
    font-size: 40px;
   line-height: 25px;
}

.logo>h1>span {
    color: orangered;
}
.logo>span{
 margin-left: 20px;
 color: green;
}
#nav{
    border: 1px solid green;
    height: 25px;
    background-color: rgb(58, 58, 58);
}